/* Tailwind CSS Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables for Color Palette */
:root {
  --primary: #0D4F42; /* Primary color */
  --secondary: #EDE6D6; /* Secondary color */
  --accent: #C55A11;     /* Warm accent color */
  --background: #EDE6D6; /* Soft neutral for the background */
  --foreground: #0D4F42; /* Primary deep green */
  --font-grover: "grover", sans-serif; /* Define the Grover font */
  --font-helvetica: "Helvetica", "Arial", sans-serif; /* Define the Helvetica font */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D4F42; /* Deep green for dark mode */
    --foreground: #EDE6D6; /* Soft neutral text on dark */
    --accent: #C55A11;     /* Accent remains the same */
  }
}

/* Body Styling */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-grover); /* Default to Grover */
}

input, textarea, p, a {
  font-family: var(--font-helvetica); /* Use Helvetica for paragraphs */
}

nav a {
  font-family: var(--font-grover);
}

h2 {
  font-size: 2.25rem; /* equivalent to text-4xl */
  font-weight: bold;  /* equivalent to font-bold */
  margin-bottom: 1rem; /* equivalent to mb-4 */
}

h3 {
  font-size: 1.875rem; /* equivalent to text-3xl */
  font-weight: 600;    /* equivalent to font-semibold */
  margin-bottom: 1.5rem; /* equivalent to mb-6 */
}

/* Utility Styles */
button {
  @apply px-6 py-2 rounded transition-colors;
  background-color: var(--accent);
  color: var(--background);
}
button:hover {
  background-color: var(--background);
  color: var(--accent);
}

h1, h2, h3 {
  font-family: "grover", sans-serif;
  font-weight: 700; /* Bold */
}

em {
  font-family: "grover", sans-serif;
  font-style: italic;
}

.sc-text {
  font-family: "grover-sc", sans-serif; /* Small caps */
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

/* styles.css or App.css */
.divider {
  height: 1px;
  background-color: #ccc;
  margin: 16px 0;
}
